<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EasyNetQ" version="0.14.4.126" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR.Core" version="1.1.3" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
  <package id="RabbitMQ.Client" version="3.1.1" targetFramework="net40" />
</packages>