@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  
  <input type="text" id="msg" />
  <input type="button" id="broadcast" value="broadcast" />

<p>Messages : </p>
<ul id="messages">  </ul>
<p>Users : </p>
  <ul id="users">  </ul>

<script type="text/javascript">
    $(function () {
        
        // Proxy created on the fly
        var chat = $.connection.chat;

        // Declare a function on the chat hub so the server can invoke it
        chat.client.addMessage = function (message, from) {
            $('#messages').append('<li>' + message  + " from " + from + '</li>');
        };

        chat.client.userJoined = function (message) {
            $('#users').append('<li>' + message + '</li>');
        };

        chat.client.onConsoleMessage = function (message) {
            $('#messages').append('<li> From the console application : ' + message + '</li>');
        };

        $("#broadcast").click(function () {
            // Call the chat method on the server
            chat.server.send($('#msg').val())
             .done(function () {
                 console.log('Success!');
             })
             .fail(function (e) {
                 console.warn(e);
             });
        });

        $("#broadcast").hide();

        // Start the connection
        $.connection.hub.start().done(function () {
            $("#broadcast").show();
            chat.server.notifyJoined();
        });
    });
  </script>
